-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: dpmd
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `berita`
--

LOCK TABLES `berita` WRITE;
/*!40000 ALTER TABLE `berita` DISABLE KEYS */;
INSERT INTO `berita` (`id_berita`, `judul`, `slug`, `konten`, `ringkasan`, `gambar`, `kategori`, `status`, `tanggal_publish`, `penulis`, `views`, `created_at`, `updated_at`) VALUES (4,'testes','testes','testse',NULL,'1763033418458_download.jpg','umum','published','2025-11-13 11:30:18',NULL,0,'2025-11-13 11:30:18','2025-11-13 11:30:18');
/*!40000 ALTER TABLE `berita` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `bidangs`
--

LOCK TABLES `bidangs` WRITE;
/*!40000 ALTER TABLE `bidangs` DISABLE KEYS */;
INSERT INTO `bidangs` (`id`, `nama`, `created_at`, `updated_at`) VALUES (2,'Sekretariat','2025-10-01 23:44:16','2025-10-01 23:44:16');
INSERT INTO `bidangs` (`id`, `nama`, `created_at`, `updated_at`) VALUES (3,'Sarana Prasarana Kewilayahan dan Ekonomi Desa','2025-10-01 23:44:16','2025-10-01 23:44:16');
INSERT INTO `bidangs` (`id`, `nama`, `created_at`, `updated_at`) VALUES (4,'Kekayaan dan Keuangan Desa','2025-10-01 23:44:16','2025-10-01 23:44:16');
/*!40000 ALTER TABLE `bidangs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `bumdes`
--

LOCK TABLES `bumdes` WRITE;
/*!40000 ALTER TABLE `bumdes` DISABLE KEYS */;
/*!40000 ALTER TABLE `bumdes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `desas`
--

LOCK TABLES `desas` WRITE;
/*!40000 ALTER TABLE `desas` DISABLE KEYS */;
INSERT INTO `desas` (`id`, `kecamatan_id`, `kode`, `nama`, `status_pemerintahan`, `is_musdesus_target`, `created_at`, `updated_at`) VALUES (1,1,'32.01.01.1001','Pondok Rajeg','kelurahan',0,'2025-10-01 09:31:32','2025-10-09 11:24:59');
INSERT INTO `desas` (`id`, `kecamatan_id`, `kode`, `nama`, `status_pemerintahan`, `is_musdesus_target`, `created_at`, `updated_at`) VALUES (2,1,'32.01.01.1002','Karadenan','kelurahan',0,'2025-10-01 09:31:32','2025-10-09 11:24:59');
INSERT INTO `desas` (`id`, `kecamatan_id`, `kode`, `nama`, `status_pemerintahan`, `is_musdesus_target`, `created_at`, `updated_at`) VALUES (3,1,'32.01.01.1003','Harapan Jaya','kelurahan',0,'2025-10-01 09:31:32','2025-10-09 11:24:59');
/*!40000 ALTER TABLE `desas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `dinas`
--

LOCK TABLES `dinas` WRITE;
/*!40000 ALTER TABLE `dinas` DISABLE KEYS */;
/*!40000 ALTER TABLE `dinas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `disposisi`
--

LOCK TABLES `disposisi` WRITE;
/*!40000 ALTER TABLE `disposisi` DISABLE KEYS */;
/*!40000 ALTER TABLE `disposisi` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `hero_galleries`
--

LOCK TABLES `hero_galleries` WRITE;
/*!40000 ALTER TABLE `hero_galleries` DISABLE KEYS */;
INSERT INTO `hero_galleries` (`id`, `image_path`, `title`, `is_active`, `order`, `created_at`, `updated_at`) VALUES (15,'hero-gallery/1763434364271_WhatsApp Image 2025-10-06 at 09.46.04_e5d519ee.jpg','',1,0,NULL,NULL);
/*!40000 ALTER TABLE `hero_galleries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `karang_tarunas`
--

LOCK TABLES `karang_tarunas` WRITE;
/*!40000 ALTER TABLE `karang_tarunas` DISABLE KEYS */;
/*!40000 ALTER TABLE `karang_tarunas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `kecamatans`
--

LOCK TABLES `kecamatans` WRITE;
/*!40000 ALTER TABLE `kecamatans` DISABLE KEYS */;
INSERT INTO `kecamatans` (`id`, `kode`, `nama`, `created_at`, `updated_at`) VALUES (1,'32.01.01','Cibinong','2025-10-01 16:31:32','2025-10-01 16:31:32');
INSERT INTO `kecamatans` (`id`, `kode`, `nama`, `created_at`, `updated_at`) VALUES (2,'32.01.02','Gunung Putri','2025-10-01 16:31:32','2025-10-01 16:31:32');
INSERT INTO `kecamatans` (`id`, `kode`, `nama`, `created_at`, `updated_at`) VALUES (3,'32.01.03','Citeureup','2025-10-01 16:31:32','2025-10-01 16:31:32');
/*!40000 ALTER TABLE `kecamatans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `kegiatan`
--

LOCK TABLES `kegiatan` WRITE;
/*!40000 ALTER TABLE `kegiatan` DISABLE KEYS */;
INSERT INTO `kegiatan` (`id_kegiatan`, `nama_kegiatan`, `nomor_sp`, `tanggal_mulai`, `tanggal_selesai`, `lokasi`, `keterangan`, `created_at`, `updated_at`) VALUES (13,'Workshop Evaluasi Pengelolaan Keuangan dan Pembangunan Desa Tahun 2025','400.10.2.4/1134-KKD','2025-10-14','2025-10-14','Ruang Serba Guna 1 Sekretariat Daerah Kabupaten Bogor',NULL,'2025-10-13 08:44:16','2025-10-13 08:56:36');
INSERT INTO `kegiatan` (`id_kegiatan`, `nama_kegiatan`, `nomor_sp`, `tanggal_mulai`, `tanggal_selesai`, `lokasi`, `keterangan`, `created_at`, `updated_at`) VALUES (14,'Pendampingan Teknis Penyusunan APBDES Tahun Anggaran 2025','400.10.2.4/1099-KKD','2025-09-29','2025-10-03','JImmers Mountain Resort','Dihadiri Kepala Dinas saat pembukaan','2025-10-13 08:54:00','2025-10-13 08:54:00');
INSERT INTO `kegiatan` (`id_kegiatan`, `nama_kegiatan`, `nomor_sp`, `tanggal_mulai`, `tanggal_selesai`, `lokasi`, `keterangan`, `created_at`, `updated_at`) VALUES (18,'Pembentukan,Penghapusan dan Perubahan Status Desa','400.10.2.3/334.A-Pemdes','2025-05-07','2025-05-07','Kec.Jonggol',NULL,'2025-10-14 07:18:01','2025-10-14 07:18:01');
/*!40000 ALTER TABLE `kegiatan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `kegiatan_bidang`
--

LOCK TABLES `kegiatan_bidang` WRITE;
/*!40000 ALTER TABLE `kegiatan_bidang` DISABLE KEYS */;
INSERT INTO `kegiatan_bidang` (`id_kegiatan_bidang`, `id_kegiatan`, `id_bidang`, `pegawai`, `created_at`, `updated_at`) VALUES (20,14,4,'[{\"id_pegawai\":29,\"nama_pegawai\":\"ALI NASRULLAH S.H.\"},{\"id_pegawai\":31,\"nama_pegawai\":\"LINA PARLINA A. Md\"},{\"id_pegawai\":33,\"nama_pegawai\":\"MOCH IHSAN MAULANA SA\'BAN, S.E.\"},{\"id_pegawai\":35,\"nama_pegawai\":\"DIMAS EKO NUGROHO S.I.Kom\"},{\"id_pegawai\":36,\"nama_pegawai\":\"MOCH. MAHPUDIN S.H. M.Si\"},{\"id_pegawai\":37,\"nama_pegawai\":\"SUHADA S.E.\"}]','2025-10-13 08:54:00','2025-10-13 08:54:00');
INSERT INTO `kegiatan_bidang` (`id_kegiatan_bidang`, `id_kegiatan`, `id_bidang`, `pegawai`, `created_at`, `updated_at`) VALUES (21,14,7,'[{\"id_pegawai\":85,\"nama_pegawai\":\"Erma Diah Vitaloka, S.T.\"},{\"id_pegawai\":88,\"nama_pegawai\":\"Dian Noviani, S. IK\"}]','2025-10-13 08:54:00','2025-10-13 08:54:00');
/*!40000 ALTER TABLE `kegiatan_bidang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `kelurahan`
--

LOCK TABLES `kelurahan` WRITE;
/*!40000 ALTER TABLE `kelurahan` DISABLE KEYS */;
/*!40000 ALTER TABLE `kelurahan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `lampiran_surat`
--

LOCK TABLES `lampiran_surat` WRITE;
/*!40000 ALTER TABLE `lampiran_surat` DISABLE KEYS */;
/*!40000 ALTER TABLE `lampiran_surat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `lpms`
--

LOCK TABLES `lpms` WRITE;
/*!40000 ALTER TABLE `lpms` DISABLE KEYS */;
/*!40000 ALTER TABLE `lpms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `pegawai`
--

LOCK TABLES `pegawai` WRITE;
/*!40000 ALTER TABLE `pegawai` DISABLE KEYS */;
INSERT INTO `pegawai` (`id_pegawai`, `id_bidang`, `nama_pegawai`, `created_at`, `updated_at`) VALUES (1,2,'Drs. HADIJANA S.Sos. M.Si',NULL,NULL);
INSERT INTO `pegawai` (`id_pegawai`, `id_bidang`, `nama_pegawai`, `created_at`, `updated_at`) VALUES (2,2,'ENDANG HARI MULYADINATA S.Kom',NULL,NULL);
INSERT INTO `pegawai` (`id_pegawai`, `id_bidang`, `nama_pegawai`, `created_at`, `updated_at`) VALUES (3,2,'LISNA SUSANTI S. E.',NULL,NULL);
/*!40000 ALTER TABLE `pegawai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `pengurus`
--

LOCK TABLES `pengurus` WRITE;
/*!40000 ALTER TABLE `pengurus` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengurus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `petugas_monitoring`
--

LOCK TABLES `petugas_monitoring` WRITE;
/*!40000 ALTER TABLE `petugas_monitoring` DISABLE KEYS */;
/*!40000 ALTER TABLE `petugas_monitoring` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `pkks`
--

LOCK TABLES `pkks` WRITE;
/*!40000 ALTER TABLE `pkks` DISABLE KEYS */;
/*!40000 ALTER TABLE `pkks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `posyandus`
--

LOCK TABLES `posyandus` WRITE;
/*!40000 ALTER TABLE `posyandus` DISABLE KEYS */;
/*!40000 ALTER TABLE `posyandus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `produk_hukums`
--

LOCK TABLES `produk_hukums` WRITE;
/*!40000 ALTER TABLE `produk_hukums` DISABLE KEYS */;
INSERT INTO `produk_hukums` (`id`, `uuid`, `desa_id`, `tipe_dokumen`, `judul`, `nomor`, `tahun`, `jenis`, `singkatan_jenis`, `tempat_penetapan`, `tanggal_penetapan`, `sumber`, `subjek`, `status_peraturan`, `keterangan_status`, `bahasa`, `bidang_hukum`, `file`, `created_at`, `updated_at`) VALUES ('7b43034d-1366-44f0-a488-57443678b26a',NULL,1,'Peraturan Perundang-undangan','tes','123123',2025,'Peraturan Desa','PERDES','tes','2025-11-16','tes','tes','berlaku','tes','Indonesia','Tata Negara','Format_Nilai_Tanah_Jawara_revisi_1763232955561.pdf',NULL,NULL);
/*!40000 ALTER TABLE `produk_hukums` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `profil_desas`
--

LOCK TABLES `profil_desas` WRITE;
/*!40000 ALTER TABLE `profil_desas` DISABLE KEYS */;
/*!40000 ALTER TABLE `profil_desas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `rts`
--

LOCK TABLES `rts` WRITE;
/*!40000 ALTER TABLE `rts` DISABLE KEYS */;
/*!40000 ALTER TABLE `rts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `rws`
--

LOCK TABLES `rws` WRITE;
/*!40000 ALTER TABLE `rws` DISABLE KEYS */;
/*!40000 ALTER TABLE `rws` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `satlinmas`
--

LOCK TABLES `satlinmas` WRITE;
/*!40000 ALTER TABLE `satlinmas` DISABLE KEYS */;
/*!40000 ALTER TABLE `satlinmas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `surat_masuk`
--

LOCK TABLES `surat_masuk` WRITE;
/*!40000 ALTER TABLE `surat_masuk` DISABLE KEYS */;
INSERT INTO `surat_masuk` (`id`, `nomor_surat`, `tanggal_surat`, `tanggal_terima`, `pengirim`, `perihal`, `jenis_surat`, `file_path`, `keterangan`, `status`, `created_by`, `created_at`, `updated_at`) VALUES (1,'001/tes','2025-12-03','2025-12-10 00:00:00','tes','testes','biasa','storage/uploads/surat-masuk/kawass_1764765346530.pdf','','draft',440,'2025-12-03 05:35:46','2025-12-03 12:35:46');
/*!40000 ALTER TABLE `surat_masuk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` (`id`, `name`, `email`, `email_verified_at`, `password`, `is_active`, `role`, `kecamatan_id`, `desa_id`, `bidang_id`, `pegawai_id`, `dinas_id`, `remember_token`, `created_at`, `updated_at`) VALUES (1,'Super Admin','superadmin@dpmd.bogorkab.go.id',NULL,'$2b$12$LAIAVDkxSj/Q6fNZ.0gGeOtcjb4khwaY18pVgnn14Tcbfv5sGqmpy',1,'superadmin',NULL,NULL,NULL,NULL,NULL,NULL,'2025-10-01 16:31:32','2025-11-13 12:52:32');
INSERT INTO `users` (`id`, `name`, `email`, `email_verified_at`, `password`, `is_active`, `role`, `kecamatan_id`, `desa_id`, `bidang_id`, `pegawai_id`, `dinas_id`, `remember_token`, `created_at`, `updated_at`) VALUES (2,'Admin Bidang Pemberdayaan','bidang@dpmd.bogorkab.go.id',NULL,'$2b$12$LAIAVDkxSj/Q6fNZ.0gGeOtcjb4khwaY18pVgnn14Tcbfv5sGqmpy',1,'pemberdayaan_masyarakat',NULL,NULL,NULL,NULL,NULL,NULL,'2025-10-01 16:31:32','2025-11-13 12:52:32');
INSERT INTO `users` (`id`, `name`, `email`, `email_verified_at`, `password`, `is_active`, `role`, `kecamatan_id`, `desa_id`, `bidang_id`, `pegawai_id`, `dinas_id`, `remember_token`, `created_at`, `updated_at`) VALUES (3,'Admin Dinas DPMD','dinas@dpmd.bogorkab.go.id',NULL,'$2b$12$LAIAVDkxSj/Q6fNZ.0gGeOtcjb4khwaY18pVgnn14Tcbfv5sGqmpy',1,'dinas',NULL,NULL,NULL,NULL,NULL,NULL,'2025-10-01 16:31:33','2025-11-13 12:52:32');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-07 13:05:06
