-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: dpmd
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `kecamatans`
--

LOCK TABLES `kecamatans` WRITE;
/*!40000 ALTER TABLE `kecamatans` DISABLE KEYS */;
INSERT INTO `kecamatans` (`id`, `kode`, `nama`, `created_at`, `updated_at`) VALUES (1,'32.01.01','Cibinong','2025-10-01 16:31:32','2025-10-01 16:31:32');
INSERT INTO `kecamatans` (`id`, `kode`, `nama`, `created_at`, `updated_at`) VALUES (2,'32.01.02','Gunung Putri','2025-10-01 16:31:32','2025-10-01 16:31:32');
INSERT INTO `kecamatans` (`id`, `kode`, `nama`, `created_at`, `updated_at`) VALUES (3,'32.01.03','Citeureup','2025-10-01 16:31:32','2025-10-01 16:31:32');
/*!40000 ALTER TABLE `kecamatans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `desas`
--

LOCK TABLES `desas` WRITE;
/*!40000 ALTER TABLE `desas` DISABLE KEYS */;
INSERT INTO `desas` (`id`, `kecamatan_id`, `kode`, `nama`, `status_pemerintahan`, `is_musdesus_target`, `created_at`, `updated_at`) VALUES (1,1,'32.01.01.1001','Pondok Rajeg','kelurahan',0,'2025-10-01 09:31:32','2025-10-09 11:24:59');
INSERT INTO `desas` (`id`, `kecamatan_id`, `kode`, `nama`, `status_pemerintahan`, `is_musdesus_target`, `created_at`, `updated_at`) VALUES (2,1,'32.01.01.1002','Karadenan','kelurahan',0,'2025-10-01 09:31:32','2025-10-09 11:24:59');
INSERT INTO `desas` (`id`, `kecamatan_id`, `kode`, `nama`, `status_pemerintahan`, `is_musdesus_target`, `created_at`, `updated_at`) VALUES (3,1,'32.01.01.1003','Harapan Jaya','kelurahan',0,'2025-10-01 09:31:32','2025-10-09 11:24:59');
/*!40000 ALTER TABLE `desas` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-12 14:36:02
