-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: dpmd
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `bidangs`
--

LOCK TABLES `bidangs` WRITE;
/*!40000 ALTER TABLE `bidangs` DISABLE KEYS */;
INSERT INTO `bidangs` (`id`, `nama`, `created_at`, `updated_at`) VALUES (2,'Sekretariat','2025-10-01 23:44:16','2025-10-01 23:44:16');
INSERT INTO `bidangs` (`id`, `nama`, `created_at`, `updated_at`) VALUES (3,'Sarana Prasarana Kewilayahan dan Ekonomi Desa','2025-10-01 23:44:16','2025-10-01 23:44:16');
INSERT INTO `bidangs` (`id`, `nama`, `created_at`, `updated_at`) VALUES (4,'Kekayaan dan Keuangan Desa','2025-10-01 23:44:16','2025-10-01 23:44:16');
/*!40000 ALTER TABLE `bidangs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `pegawai`
--

LOCK TABLES `pegawai` WRITE;
/*!40000 ALTER TABLE `pegawai` DISABLE KEYS */;
INSERT INTO `pegawai` (`id_pegawai`, `id_bidang`, `nama_pegawai`, `created_at`, `updated_at`) VALUES (1,2,'Drs. HADIJANA S.Sos. M.Si','2025-12-08 18:49:52','2025-12-08 18:49:52');
INSERT INTO `pegawai` (`id_pegawai`, `id_bidang`, `nama_pegawai`, `created_at`, `updated_at`) VALUES (2,2,'ENDANG HARI MULYADINATA S.Kom','2025-12-08 18:49:52','2025-12-08 18:49:52');
INSERT INTO `pegawai` (`id_pegawai`, `id_bidang`, `nama_pegawai`, `created_at`, `updated_at`) VALUES (3,2,'LISNA SUSANTI S. E.','2025-12-08 18:49:52','2025-12-08 18:49:52');
/*!40000 ALTER TABLE `pegawai` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-12 14:36:12
